pandas
numpy==1.26.4
matplotlib
scikit-learn
lightgbm
pyyaml
tqdm
comet_ml
einops
torchmetrics
gpustat
opencv-python
urllib3==1.26.18
timm
beartype
shap
pycm
scikit-image
efficientnet-pytorch
h5py
openpyxl
omegaconf
xgboost==2.0.3

seaborn
scipy
